* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {

    font-family: 'Helvetica', 'Bold', sans-serif;
    color: white;
    font-size: 1.2rem;
    min-height: 100vh;
    padding: 20px;
}

.grid-container>* {
    border: white solid 4px;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    font-weight: 500;
}

.grid-container {
    display: grid;
    gap: 20px;
    grid-template-areas:
        "header"
        "navbar"
        "sidebar"
        "main"
        "footer";
    grid-template-rows: 200px 50px auto 100px auto;
}

.header {
    grid-area: header;
    background-color: #333;
}

.navbar {
    grid-area: navbar;
    background-color: #333;
}

.sidebar {
    grid-area: sidebar;
    background-color: #333;
}

.main {
    grid-area: main;
    background-color: #333;
}

.footer {
    grid-area: footer;
    background-color: #333;
}

@media(min-width:768px) {
    .grid-container {
        grid-template-areas:
            "header navbar"
            "header navbar"
            "sidebar main"
            "footer footer";
        grid-template-rows: 50px 50px auto 100px;
        grid-template-columns: 200px auto;
    }
}

@media(min-width:992px) {
    .grid-container {
        grid-template-areas:
            "header header header"
            "navbar main sidebar"
            "footer footer footer";
        grid-template-rows: 100px auto 100px;
        grid-template-columns: 200px auto 200px;
    }
}

scribe-shadow {
    display: none !important;
}